.bash_history
.bash_logout
.bashrc
.cache/*
.config/*
Desktop/*
Documents/*
Downloads/*
.gnupg/*
.ICEauthority
.local/*
.mozilla/*
Music/*
.nv/*
Pictures/*
.profile/*
Public/*
snap/*
.ssh/*
.sudo_as_admin_successful
Templates/*
Videos/*
.zcompdump*
.zsh_history
.gitconfig.local
