#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
# Install MacOS packages
echo "Installing Homebrew-managed tools..."

brew install --cask 1password
brew install --cask android-studio
brew install --cask bambu-studio
brew install --cask betterdisplay
brew install --cask brave-origin
brew install --cask claude
brew install --cask claude-code
brew install --cask docker-desktop
brew install --cask firefox
brew install --cask freecad
brew install --cask ghostty
brew install --cask hiddenbar
brew install --cask karabiner-elements
brew install --cask linearmouse
brew install --cask little-snitch
brew install --cask middleclick
brew install --cask minecraft
brew install --cask mitmproxy
brew install --cask obsidian
brew install --cask onyx
brew install --cask proton-mail-bridge
brew install --cask rectangle-pro
brew install --cask rustdesk
brew install --cask shottr
brew install --cask spotify
brew install --cask tailscale-app
brew install --cask tor-browser
brew install --cask transmission
brew install --cask visual-studio-code
brew install --cask wireshark-app

brew install bat
brew install btop
brew install cloc
brew install cmake
brew install gradle
brew install nmap
brew install neovim
brew install openjdk
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{- $isArchLike := or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "cachyos") (has "arch" (.chezmoi.osRelease.idLike | splitList " ")) -}}
{{- if $isArchLike }}
# Install Arch Linux/CachyOS Tools
echo "Installing Arch Linux Packages..."
sudo pacman -Syu
sudo pacman -S \
    binutils \
    binwalk \
    gdb \
    gcc \
    ghostty \
    git \
    jdk-openjdk \
    resources \
    wireshark-qt \
    zsh

flatpak install flathub md.obsidian.Obsidian
flatpak install flathub org.torproject.torbrowser-launcher
{{- end -}}
{{- end -}}
