theme = Abernathy

confirm-close-surface = false
notify-on-command-finish = never
scrollbar = system
quit-after-last-window-closed = true

{{ if ne .chezmoi.os "darwin" -}}
font-family = Ubuntu Mono
font-size = 13
{{ end -}}
